@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oleo+Script&family=Poppins:wght@500&family=Roboto+Condensed&display=swap');

/* FONT TYPES */
/* font-family: 'Oleo Script', cursive; */
/* font-family: 'Poppins', sans-serif;   */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

/* DEFAULT */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* 01.HEADER (NAVBAR)---------------------------------------------------- */
  .logo {
    width: 130px;
    margin-left: 10vw;
    border-radius: 100%;
  }
  
  .navbar button,
  .nav-link {
    color: #FFE194;
  }
  
  .navbar-nav {
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(240, 237, 212)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    box-shadow: none;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5vh;
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
  
  body {
    height: 1000px;
    overflow-x: hidden;
  }
  
  /* (END)HEADER (NAVBAR)---------------------------------------------------- */
  
  /* 01A.PARALLAX---------------------------------------------------  */
  .parallax,
  .parallax1 {
    height: 110%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax1 {
    height: 80%;
  }
  
  /* (END)PARALLAX ----------------------------------------------------- */
  
  /* 02.LANDING PAGE--------------------------------------------------------- */
  .background1 {
    background-image: url('img/jukebox.jpg');
    padding-top: 2.5vh;
  }
  
  .background1 h1 {
    text-align: center;
    padding-top: 30vh;
    color: #FFE194;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 150px;
    transition: opacity 0.5s;
    font-weight: bolder;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .background1 p {
    text-align: center;
    color: #FFE194;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 1;
    transition: opacity 1s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    right: 10vw;
  }
  
  /* (END)LANDING PAGE--------------------------------------------------------- */
  
/* (END))LANDING PAGE--------------------------------------------------------- */
/* 02.ABOUT PAGE--------------------------------------------------------- */
.background2{
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url('img/cassette.jpg');
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-blend-mode: darken;
}
.background2 h2{
    font-size: 80px;
    color: #FFE194;
    font-family: 'Roboto Condensed', sans-serif;  
    font-weight: bold;
}
.about{
    background-color: #B8621B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 10;
    opacity: 0.4;
}
.about p {
    color: #FFE194;
    font-weight:lighter;
    padding: 55px;
    font-family: 'Roboto Condensed', sans-serif;  
    text-align: center;
    font-size: 1.12vw;
    opacity: 1;
    z-index: 11;
}
/* (END)ABOUT PAGE--------------------------------------------------------- */
/* 03.PRODUCT SECTION/GALLERY------------------------------------------------- */

.background3{
    /* background-image: url('img/turntable2.jpg'); */
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.background3 h2{
    text-align: center;
    font-size: 30px;
    color: #FFE194;
    padding-top: 40px;
    font-family: 'Roboto Condensed', sans-serif; 
}
.gal{
    display: flex;
    flex-direction: column;
}
.gal p{
    text-align: center;
    font-size: 15px;
    color: #FFE194;
    font-family: 'Roboto Condensed', sans-serif;
}
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: right;
    border-radius: 5%;
    transition: transform 1s;
    pointer-events: none;
}
#image-track{
    display: flex;
    gap: 10vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}
.disable-select {
    user-select: none;
  }
  
/* (End)PRODUCT SECTION/GALLERY------------------------------------------------- */
/* 04.Contact -------------------------------------------------------------*/
.end{
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url('img/turntable2.jpg');
    min-height: 120vh;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    gap: 100px;
}
.chat{
    z-index: 2;
}
.form{
    display: flex;
    flex-direction: column;
    width: 60vh;
}
.form p{
    color: #FFE194;
    font-family: 'Roboto Condensed', sans-serif; 
    text-align: left;
}
.form h3{
    color: #FFE194;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 40px;
}
.btnCustom{
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.btn-primary {
    --bs-btn-color: #000000;
    --bs-btn-bg: #ad8b2b;
    --bs-btn-border-color: #ad8b2b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #615f40;
    --bs-btn-hover-border-color:  #615f40;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ad8b2b;
    --bs-btn-active-border-color:#ad8b2b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.box{
    padding-top: 0;
    margin-top: 0;
}
.maps{
    width: 400px;
    height: 500px;
}
/* (END)Contact -------------------------------------------------------------*/
/* 05.Footer -------------------------------------------------------------*/
#footer{
    background-color: black;
    height: 50vh;
}
.retroSonic-logo{
    height: 35vh;
    border-radius: 50%;
}
.col-sm-4{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.btn{
    width: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
    padding-left: 10vh;
    font-family: 'Roboto Condensed', sans-serif; 
}
.newsletter h5{
    color: #FFE194;
    text-align: left;
    font-weight: bold;
}
.footer{
    color: #FFE194;
    padding-top: 5vh;
}
.footer h5{
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5vh;
    text-align: left;
    padding-left: 30px;
}
.footer-content{
    list-style: none;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}
li a{
    text-decoration: none;
    color: inherit
}
.footer-list:hover{
    transition: transform 1s ease;
    transform: scale(1.1);
    cursor: pointer;
}
.footer-list:not(:hover){
    transition: transform 1s ease;
    transform: scale(1);
    cursor: pointer;
}
.footer h5:hover{
    transition: transform 1s ease;
    transform: scale(1.1);
}
.footer h5:not(:hover){
    transition: transform 1s ease;
    transform: scale(1);
}
.highlighted {
    position: relative;
  }
  
  .highlighted::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 2px;
    background-color: #FFE194;
  }
  .icon{
    display: flex;
    padding-top: 2vh;
    gap: 1.4vh;
  }
  .social-icons {
    width: 1.5vw;
  }
/* (END)Footer -------------------------------------------------------------*/
/* copytight----------------------------------------------------------------- */
#copyright{
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
}



/* EFFECTS---------------------------------------------------------------- */
.reveal{
    transform: translateY(100px);
    opacity: 0;
    transition: 2.5s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 0.9;
    filter: brightness(1.2);
}
.reveal2{
    transform: translateY(150px);
    opacity: 0;
    transition: 2.5s ease;
}
.reveal2.active2{
    transform: translateY(0px);
    opacity: 1;
}

/* MEDIA------------------------------------------------------------------ */
@media (max-width:1000px){
    .retroSonic-logo{
        height: 25vh;
        border-radius: 50%;
        position: relative;
    }
    .footer h5{
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 3vh;
        text-align: center;
        padding-left: 40px;
    }
    .footer-content{
        list-style: none;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2vh;
    }
}
@media (max-width:900px){
    .background1 h1{
        font-size: 100px;
    }
   .background2 h2{
        font-size: 40px;
        padding-bottom: 20px;
    }
    .about {
        height: 400px;
    }
    .about p{
        font-size: 12px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        margin-left: 25vh;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5vh;
        padding-left: 0;
        gap: 100px;
        padding-right: 20vw;
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 45vh;
        height: 20vh;
    }
    .maps{
        height: 300px;
        width: 500px;
        transform: translateY(250px);
    }
    .form p{
        color: #FFE194;
        font-family: 'Roboto Condensed', sans-serif; 
        text-align: left;
    }
    .form h3{
        color: #FFE194;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 30px;
    }
    .footerHead{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 5vh;
        padding-left: 0;
        font-family: 'Roboto Condensed', sans-serif; 
        position: relative;
    }
    .retroSonic-logo{
        height: 20vh;
        border-radius: 50%;
        position: relative;
    }
    .footer{
        color: #FFE194;
        padding-top: 0;
    }
    .footer h5{
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 3vh;
        text-align: center;
        padding-left: 40px;
    }
    .footer-content{
        list-style: none;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2vh;
    }
}

@media (max-width:600px){

}
/* MEDIA------------------------------------------------------------------ */